@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  font-family: 'Droid Serif';
}

#manuskript {
  font-size: 1.4em;
}

#manuskript hr {
  margin-bottom: 100px;
}

p {
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQYV2P8xeDwnwEPYGM4wAiSZhxViC2U4MGDLwyR5cCBSQwAAADRGAveiEoGAAAAAElFTkSuQmCC);
}

li {
  font-size: 1.3em;
  line-height: 1.5em;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-slide-content {
  font-size: 1.2em;
  /*background-color: #000;
  color: #fff;*/
}

.transform {
  display: none;
}

.footnote {
  font-size: 0.6em;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
}

.inverse {
  background: #272822;
  color: #b7b8b2;
}

.inverse h1, .inverse h2, .inverse .footnote {
  color: #f3f3f3;
}

.inverse h3 {
  color: #8bc0ff;
}

.inverse a {
  color: #60a060;
}

.red { color: #fa0040; }
.large { font-size: 2em; }
.huge {
  font-size: 4em;
}

.stamp {
  display: block;
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.vertical {
  display: block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 1.5em;
}

.smaller {
  font-size: 0.65em;
}

.bigger {
  font-size: 1.2em;
}
